In [7]:
import pandas as pd
import numpy as np
airquality = pd.read_csv("C:/Users/Administrator/Desktop/Data Set/Airquality.csv",header = 0)

In [8]:
print(airquality.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 7 columns):
Unnamed: 0    153 non-null int64
Ozone         116 non-null float64
Solar.R       146 non-null float64
Wind          153 non-null float64
Temp          153 non-null int64
Month         153 non-null int64
Day           153 non-null int64
dtypes: float64(3), int64(4)
memory usage: 8.4 KB
None

In [9]:
#1.Fetch the observations for 9 day of June
airquality.query("(Month==6) & (Day==9)")

    Unnamed: 0  Ozone  Solar.R  Wind  Temp  Month  Day
39          40   71.0    291.0  13.8    90      6    9

In [10]:
#2.Find Average temperature for the month of June
airquality[airquality.Month==6]['Temp'].agg('mean')

79.1

In [26]:
#3.To which day of June has the least temperature
a=airquality[airquality.Month==6]['Temp'].agg('min')
b=airquality.Temp
c=airquality[['Day','Temp','Month']][np.in1d(b,a)]
c[c.Month==6]

    Day  Temp  Month
48   18    65      6

In [28]:
#4.Find Maximum Ozone value for the month of May
airquality.query("(Month==5)")['Ozone'].agg('max')

115.0

In [32]:
#5.Find the count of the missing values in the ozone column of the data set
airquality.Ozone.isnull().sum()

37

In [36]:
#6.Find out What is the mean of the Ozone column in this dataset
round(airquality.Ozone.mean(),2)

42.13

In [39]:
#7.Find out which month has the highest temperature
a=airquality.Temp.max()
b=airquality.Temp
airquality[['Month','Temp']][np.in1d(b,a)]

     Month  Temp
119      8    97

In [41]:
#8.Find out the wind value when the Ozone becomes maximum
a=airquality.Ozone.max()
b=airquality.Ozone
airquality[['Ozone','Wind']][np.in1d(b,a)]

     Ozone  Wind
116  168.0   3.4

In [46]:
#9.Find out the months for which the airquality observations have been carried out
airquality.Month.unique()

array([5, 6, 7, 8, 9], dtype=int64)

In [50]:
#10. Find the Ozone and temperature values for the 1st observation of every month.
airquality.query("(Day==1)")[['Month','Day','Ozone','Temp']]

     Month  Day  Ozone  Temp
0        5    1   41.0    67
31       6    1    NaN    78
61       7    1  135.0    84
92       8    1   39.0    81
123      9    1   96.0    91

In [54]:
#11. Which day of which month corresponds to the least Ozone Value
a=airquality.Ozone.min()
b=airquality.Ozone
airquality[['Month','Ozone']][np.in1d(b,a)]

    Month  Ozone
20      5    1.0

In [116]:
#12. Convert the temperature for all the observations to Centigrade scale
tempf=(airquality.Temp)
def celsius(t):
    celsiust = round((t - 32) * 5 / 9,2)
    return celsiust
F = map(celsius, tempf)
print(list(F))

[19.44, 22.22, 23.33, 16.67, 13.33, 18.89, 18.33, 15.0, 16.11, 20.56, 23.33, 20.56, 18.89, 20.0, 14.44, 17.78, 18.89, 13.89, 20.0, 16.67, 15.0, 22.78, 16.11, 16.11, 13.89, 14.44, 13.89, 19.44, 27.22, 26.11, 24.44, 25.56, 23.33, 19.44, 28.89, 29.44, 26.11, 27.78, 30.56, 32.22, 30.56, 33.89, 33.33, 27.78, 26.67, 26.11, 25.0, 22.22, 18.33, 22.78, 24.44, 25.0, 24.44, 24.44, 24.44, 23.89, 25.56, 22.78, 26.67, 25.0, 28.33, 28.89, 29.44, 27.22, 28.89, 28.33, 28.33, 31.11, 33.33, 33.33, 31.67, 27.78, 22.78, 27.22, 32.78, 26.67, 27.22, 27.78, 28.89, 30.56, 29.44, 23.33, 27.22, 27.78, 30.0, 29.44, 27.78, 30.0, 31.11, 30.0, 28.33, 27.22, 27.22, 27.22, 27.78, 30.0, 29.44, 30.56, 31.67, 32.22, 32.22, 33.33, 30.0, 30.0, 27.78, 26.67, 26.11, 25.0, 26.11, 24.44, 25.56, 25.56, 25.0, 22.22, 23.89, 26.11, 27.22, 30.0, 31.11, 36.11, 34.44, 35.56, 34.44, 32.78, 33.33, 33.89, 33.89, 30.56, 28.89, 26.67, 25.56, 23.89, 22.78, 27.22, 24.44, 25.0, 21.67, 21.67, 25.56, 19.44, 24.44, 20.0, 27.78, 17.78, 21.67, 27.22, 20.56, 17.22, 21.11, 25.0, 23.89, 24.44, 20.0]